*{
    margin: 0;
    padding: 0;
}
.footer i{
    color: white;
}
.bg-black {
  background-color: black; /* naranja Popeyes */
}
#carouselExampleCaptions .carousel-item {
  height: 60vh;        /* altura responsive */
  min-height: 300px;
  max-height: 500px;
}
#carouselExampleCaptions .carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* PANEL DERECHO SCROLL */
.content-scroll {
  height: 320px;
  overflow-y: auto;
}

/* BOTONES IZQUIERDA – neutros */
.nav-left {
  background-color: transparent;
  border: 1px solid #dee2e6;
  color: #333;
}

/* SOLO hover en naranja */
.nav-left:hover {
  background-color: #ff6f00;
  color: white;
}

/* Botón collapse naranja */
.btn-orange {
  background-color: #ff6f00;
  border-color: #ff6f00;
  color: white;
}

.btn-orange:hover {
  background-color: #e65c00;
}

/* ACORDEÓN – naranja claro */
.accordion-button {
  background-color: #fff3e6;
  color: #000;
}

.accordion-button:not(.collapsed) {
  background-color: #ffe0c2;
  color: #000;
}

/* Quitar azul de Bootstrap */
.accordion-button:focus {
  box-shadow: none;
}

.text-orange {
  color: #ff6f00 !important;
}

.btn-orange {
  background-color: #ff6f00;
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: #e65c00;
}

.btn-outline-orange {
  border: 1px solid #ff6f00;
  color: #ff6f00;
}

.btn-outline-orange:hover {
  background-color: #ff6f00;
  color: #fff;
}

.nav-tabs .nav-link.active {
  background-color: #fff3e6;
  color: #ff6f00;
  border-color: #ff6f00 #ff6f00 #fff;
}